html {
  scroll-padding-top: 12rem;
  /* Ensures content is not hidden behind header when jumping to a section */
}


#servicesFirst {
  flex-direction: column;
  gap: 1rem;
}


#servicesFirst h1 {
  text-align: center;
  font-size: 7rem;
  line-height: 1.15;
  color: #4b3314;
}

#servicesFirst h2 {
  font-size: 3rem;
  color: #4b3314;
  text-align: center;
}

#servicesFirst h2 span {
  color: #be3946;
}

#Half-Lotus {
  position: absolute;
  height: 100%;
  left: -15rem;
  bottom: -35%;
  pointer-events: none;

}


#ListOfServices {
  min-height: unset;
  height: auto;
  flex-direction: column;
  gap: 5rem;
  padding: 3rem 0;
}

#ListOfServices h2 {
  font-size: 5rem;
  text-align: center;

}

#ListOfServices h2 span {
  font-family: 'Amsterdam Three';
  color: #be3946;
  font-weight: 550;
  padding-left: 1rem;
  font-size: 6rem;
}

.services-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 1100px;
  width: 100%;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: white; */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.459);
  color: #4B3314;
  text-align: center;
  height: 17rem;
  width: 20rem;
  font-size: 2.2rem;
  gap: 1rem;
  /* cursor: pointer; */
  padding: 0 2rem;

}

.service p {
  line-height: 1.2;
  font-weight: 600;
}

.service i {
  font-size: 4rem;
  transition: all 0.1s ease;

}

.service:hover #servicesIcons {
  transform: scale(1.2);
  color: #be3946;
}

.service:hover {
  box-shadow: 2px 4px 8px #be394698;

}







/* General Layout for Package Buttons */
.package-buttons-layout {
  display: flex;
  align-items: left;
  gap: 2rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
  margin-left: 2rem;
}




/* Package Button Styles */
.package-button {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: transparent;
  text-decoration: none;
  width: fit-content;

}

/* Hover effect for package button text */
.package-button .hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #be3946;
  transition: width 0.5s ease-in-out;
  color: #be3946 !important;

}


/* Hover to expand effect for package buttons */
.package-button:hover .hover-text {
  width: 100%;
}

/* Special glow for DEVIGNS SPECIAL */
.package-button.special:hover .hover-text {
  filter: drop-shadow(0 0 20px #EBA49E);
}

/* Responsive Design: Stack buttons on smaller screens */
@media (max-width: 767px) {
  .package-buttons-layout {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}











#servicesSecond {
  flex-direction: column;
  gap: 5rem;
  min-height: unset;
  height: auto;
  padding: 3rem;
}


#servicesSecond h2 {
  font-size: 8rem;
  text-align: left;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  color: #eba49e;
  line-height: 1;
}

#servicesSecond h2 span {
  font-size: 2.2rem;
  font-weight: 550;
  line-height: 1.4;
  color: #4b3314;
  margin-bottom: 1rem;
}

#Additionally{
  font-size: 1.8rem !important;
}

#servicesSecond h2 span ul {
  margin-left: 5rem;
}

#servicesSecond h2 span a {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
}



.outer-rounded {
  width: 70%;
  padding: 2rem 2rem 2rem 4rem;
  height: 50rem;
  background-color: #e3828552;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  overflow: hidden;
  position: relative;
  /* Needed for absolute positioning of children */
  box-shadow: 2px 4px 10px #00000046;
  /* border: 2px solid #4B3314; */
  display: flex;
  /* Enable flexbox for layout control */
  flex-direction: column;
  /* Stack children vertically */
}

#DevignsSpecialPackage {
  min-height: unset;
  height: auto;
  flex-direction: column;
  margin-top: 6rem;
  margin-left: 10%;
}

#DevignsSpecialPackage h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 2rem;
}

#DevignsSpecialPackage h2 span {
  font-family: 'Amsterdam Three';
  font-size: 4.8rem;
  font-weight: 550;
  color: #be3946;
  text-decoration: underline;
}

.packageDescription {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  /* Add some space below the description */
}

.inner-rounded {
  height: auto;
  /* Adjust height dynamically based on content */
  overflow-y: auto;
  /* Enable vertical scrolling */
  box-sizing: border-box;
  /* Include padding in height calculation */
  margin-bottom: auto;
  /* Push the buttonWrapper to the bottom */
}

.aboutPackage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 550;
  font-size: 1.7rem;
  color: #4b3314;
  margin-bottom: 2rem;
}

.packageIncludes ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
  /* Add padding for scrollbar */
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  /* Add some space above the button */
}

.buttonWrapper button{
  padding: 1.3rem 3rem;
}


#DevignsDesignPackage {
  min-height: unset;
  height: auto;
  flex-direction: column;
  margin-top: 6rem;
  margin-right: 10%;

}




#DevignsDesignPackage h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}





#DevignsDevelopmentPackage {
  min-height: unset;
  height: auto;
  flex-direction: column;
  margin-top: 6rem;
  margin-left: 10%;

}




#DevignsDevelopmentPackage h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}







#notSureline {
  font-size: 2.2rem;
  font-weight: 600;
  font-style: italic;
  /* width: 75%; */
  margin: 2rem 0;
  padding: 0 3rem;
width: 70%;
}

#gitText {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: underline;
  color: #4B3314;
  transition: all 0.3s ease;
}

#gitText:hover {
  color: #be3946;
}




.testimonial-section {
  padding: 7rem 0;
  overflow: hidden;
  flex-direction: column;
  min-height: unset;
  height: auto;
}


.testimonial-section h2 {
  font-size: 6rem;
  line-height: 1;
  text-align: center;
}

.testimonial-section h2 span {
  color: #be3946;
}

.testimonial-section>p {
  font-size: 2.5rem;
  font-weight: 600;
}

.marquee-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee {
  display: flex;
  width: fit-content;
  animation: scroll-left 40s linear infinite;
  padding: 2rem;

}


@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.testimonial-card {
  position: relative;
  /* To make the author positioning relative to this card */
  flex: 0 0 auto;
  /* width: 280px; */
  max-width: 500px;
  margin: 15px;
  background: rgba(227, 130, 134, 0.26);
  padding: 4rem 3rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.301);
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}


.testimonial-card::before {
  content: '“';
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 5rem;
  /* Adjust size as needed */
  color: #4B3314;
  /* Adjust color as needed */

}

.testimonial-card::after {
  content: '”';
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 5rem;
  /* Adjust size as needed */
  color: #4B3314;
  /* Adjust color as needed */
}



.testimonial-card p {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 550;
}




.testimonial-card .author {
  font-weight: bold;
  color: #4B3314;
  font-size: 1.8rem;
  /* Adjust size as needed */
  width: 100%;
  text-align: center;
  line-height: 1.2;
}








@media (min-width: 1024px) and (max-width: 1279px) {

  #servicesFirst h1 {
    text-align: center;
    font-size: 5.8rem;
    line-height: 1.15;
    color: #4b3314;
  }

  #servicesFirst h2 {
    font-size: 2.6rem;
    color: #4b3314;
  }

  #servicesFirst h2 span {
    color: #be3946;
  }

  #Half-Lotus {
    height: 90%;
    left: -12rem;
    bottom: -40%;
  }



  #ListOfServices {
    gap: 3rem;
    padding: 3rem;
  }

  .services-grid {
    gap: 1rem;
  }

  .service {
    height: 15rem;
    width: 18rem;
  }



  #servicesSecond h2 {
    width: 95%;
  }


  #notSureline {
    font-size: 1.8rem;
  }

  #gitText {
    font-size: 1.9rem;
  }




  .testimonial-section h2 {
    font-size: 5rem;
  }

  .testimonial-section>p {
    font-size: 2.4rem;
  }



  .testimonial-card {
    max-width: 400px;
    gap: .5rem;
  }



  .testimonial-card p {
    font-size: 1.8rem;
  }




  .testimonial-card .author {
    font-size: 1.7rem;
  }

}



@media (min-width: 768px) and (max-width: 1023px) {

  #servicesFirst {
    padding: 2rem;
  }

  #servicesFirst h1 {
    text-align: center;
    font-size: 4.8rem;
    line-height: 1.15;
    color: #4b3314;
  }

  #servicesFirst h2 {
    font-size: 2.2rem;
    color: #4b3314;
  }


  #Half-Lotus {
    height: 85%;
    left: -8rem;
    bottom: -40%;
  }

  #DevignsSpecialPackage h2,
  #DevignsDesignPackage h2,
  #DevignsDevelopmentPackage h2 {
    font-size: 3.2rem;
  }


  .outer-rounded {
    width: 85%;
  }

  #DevignsSpecialPackage,
  #DevignsDevelopmentPackage {
    margin-left: 5%;
  }
  #DevignsDesignPackage{
    margin-right: 5%;
  }

  #notSureline {
    font-size: 1.6rem;
    width: 75%;
  }

  #gitText {
    font-size: 1.7rem;
  }


  .testimonial-section {
    padding: 5rem 0;
  }

  .testimonial-section h2 {
    font-size: 4.5rem;
  }

  .testimonial-section>p {
    font-size: 2.2rem;
  }



  .testimonial-card {
    max-width: 400px;
    gap: .5rem;
    justify-content: space-around;
    margin: 1rem;
  }



  .testimonial-card p {
    font-size: 1.7rem;
  }




  .testimonial-card .author {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 767px) {
  #DevignsSpecialPackage,
  #DevignsDesignPackage,
  #DevignsDevelopmentPackage {
    margin-left: 0;
    margin-right: 0;
  }


    /* Chrome, Safari, Edge */
    .inner-rounded::-webkit-scrollbar {
      width: 8px;
    }
  
    /* Firefox */
    .inner-rounded{
      scrollbar-width: thin;
    }

  
  
  
}


@media (min-width: 640px) and (max-width: 767px) {

  #servicesFirst {
    padding: 2rem;
  }

  #servicesFirst h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 1.15;
    color: #4b3314;
  }

  #servicesFirst h2 {
    font-size: 2.2rem;
    color: #4b3314;
  }


  #Half-Lotus {
    height: 75%;
    left: -5rem;
    bottom: -30%;
  }

  #ListOfServices{
    padding: 0 3rem;
  }

  #ListOfServices h2 {
    font-size: 4rem;
}

#servicesSecond h2 {
  line-height: 1.1;
  font-size: 5rem;

}
.services-grid {
 
  gap: 1rem;
  
}
.service {
  height: 15rem;
  width: 17rem;
  font-size: 2rem;
}

.service i {
  font-size: 3rem;
}
.package-buttons-layout {
  gap: 1.2rem;
}


#servicesSecond h2 span {
  font-size: 2rem;
}

#Additionally{
  font-size: 1.8rem !important;
}

  #DevignsDevelopmentPackage {
    margin-bottom: 6rem;
  }

  #DevignsSpecialPackage,
  #DevignsDesignPackage,
  #DevignsDevelopmentPackage {
    margin-top: 3rem;
  }
  #DevignsSpecialPackage h2,
  #DevignsDesignPackage h2,
  #DevignsDevelopmentPackage h2 {
    font-size: 3rem;
    text-align: center;
  }

  #DevignsSpecialPackage h2 span{
    font-size: 4rem;
  }


  .outer-rounded {
    width: 85%;
  }

  .packageDescription {
    font-size: 1.6rem;
  }

  .aboutPackage {
    font-size: 1.5rem;
  }


  #notSureline {
    font-size: 1.6rem;
    width: 85%;
  }

  #gitText {
    font-size: 1.7rem;
  }


  .testimonial-section {
    padding: 5rem 0;
  }

  .testimonial-section h2 {
    font-size: 4rem;
  }

  .testimonial-section>p {
    font-size: 2.2rem;
  }



  .testimonial-card {
    max-width: 300px;
    gap: .5rem;
    justify-content: space-around;
    margin: 1rem;
  }



  .testimonial-card p {
    font-size: 1.7rem;
  }




  .testimonial-card .author {
    font-size: 1.7rem;
  }
}


@media (min-width: 480px) and (max-width: 639px) {

 #servicesFirst {
    padding: 2rem;
  }

  #servicesFirst h1 {
    text-align: center;
    font-size: 3.8rem;
    line-height: 1.15;
    color: #4b3314;
  }

  #servicesFirst h2 {
    font-size: 2rem;
    color: #4b3314;
  }


  #Half-Lotus {
    height: 65%;
    left: -5rem;
    bottom: -25%;
  }

  #ListOfServices{
    padding: 0 3rem;
    gap: 2rem;
  }

  #ListOfServices h2 {
    font-size: 3.8rem;
}

#servicesSecond h2 {
  line-height: 1.1;
  font-size: 5rem;

}
.services-grid {
 
  gap: 1rem;
  
}
.service {
  height: 15rem;
  width: 17rem;
  font-size: 1.8rem;
}

.service i {
  font-size: 3rem;
}
.package-buttons-layout {
  gap: 1.2rem;
  margin-bottom: 1rem;
}

#servicesSecond h2 {
width: 100%;
}
#servicesSecond h2 span {
  font-size: 1.8rem;
}

#Additionally{
  font-size: 1.8rem !important;
}

  #DevignsDevelopmentPackage {
    margin-bottom: 6rem;
  }

  #DevignsSpecialPackage,
  #DevignsDesignPackage,
  #DevignsDevelopmentPackage {
    margin-top: 3rem;
  }
  #DevignsSpecialPackage h2,
  #DevignsDesignPackage h2,
  #DevignsDevelopmentPackage h2 {
    font-size: 3rem;
    text-align: center;
  }

  #DevignsSpecialPackage h2 span{
    font-size: 4rem;
  }


  .outer-rounded {
    width: 90%;
    padding-left: 2rem;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .packageDescription {
    font-size: 1.6rem;
  }

  .aboutPackage {
    font-size: 1.5rem;
  }

  .packageIncludes ul {
    padding-top: 1rem;
  }

  #notSureline {
    font-size: 1.6rem;
    padding: 0 3rem;
    width: 90%;
  }

  #gitText {
    font-size: 1.7rem;
  }


  .testimonial-section {
    padding: 3rem 0;
  }

  .testimonial-section h2 {
    font-size: 3.8rem;
  }

  .testimonial-section>p {
    font-size: 2rem;
  }



  .testimonial-card {
    max-width: 400px;
    gap: .5rem;
    justify-content: space-around;
    margin: 1rem;
  }



  .testimonial-card p {
    font-size: 1.5rem;
  }



  .testimonial-card .author {
    font-size: 1.6rem;
  }

}

@media screen and (max-width: 479px) {

  #servicesFirst {
    padding: 2rem;
  }

  #servicesFirst h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 1.15;
    color: #4b3314;
  }

  #servicesFirst h2 {
    font-size: 1.7rem;
    color: #4b3314;
  }


  #Half-Lotus {
    height: 55%;
    left: -5rem;
    bottom: -15%;
  }

  #ListOfServices{
    padding: 0;
    gap: 2rem;
  }

  #ListOfServices h2 {
    font-size: 3rem;
    padding: 0 2rem;

}

#servicesSecond h2 {
  line-height: 1.1;
  font-size: 4rem;

}

.services-grid {
 
  gap: 1rem;
  
}
.service {
  height: 12rem;
  width: 14rem;
  font-size: 1.6rem;
}

.service i {
  font-size: 3rem;
}
.package-buttons-layout {
  gap: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 0;
}

#servicesSecond h2 {
width: 100%;
}
#servicesSecond h2 span {
  font-size: 1.7rem;
}

#Additionally{
  font-size: 1.5rem !important;
}

  #DevignsDevelopmentPackage {
    margin-bottom: 6rem;
  }

  #DevignsSpecialPackage,
  #DevignsDesignPackage,
  #DevignsDevelopmentPackage {
    margin-top: 3rem;
  }
  #DevignsSpecialPackage h2,
  #DevignsDesignPackage h2,
  #DevignsDevelopmentPackage h2 {
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
    width: 90%;
    margin-bottom: 1rem;
  }

  #DevignsSpecialPackage h2 span{
    font-size: 3rem;
  }


  .outer-rounded {
    width: 90%;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .packageDescription {
    font-size: 1.5rem;
  }

  .aboutPackage {
    font-size: 1.5rem;
  }

  .packageIncludes ul {
    padding-top: 1rem;
  }


  #notSureline {
    font-size: 1.6rem;
    padding: 0 1rem;
    width: 90%;
  }

  #gitText {
    font-size: 1.6rem;
  }


  .testimonial-section {
    padding: 3rem 0;
  }

  .testimonial-section h2 {
    font-size: 3.5rem;
  }

  .testimonial-section>p {
    font-size: 1.7rem;
  }



  .testimonial-card {
    max-width: 300px;
    gap: .5rem;
    justify-content: space-around;
    margin: 1rem;
  }



  .testimonial-card p {
    font-size: 1.4rem;
  }



  .testimonial-card .author {
    font-size: 1.5rem;
  }

}
@media screen and (max-width: 320px) {

  #servicesFirst {
    padding: 2rem;
  }

  #servicesFirst h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.15;
    color: #4b3314;
  }

  #servicesFirst h2 {
    font-size: 1.7rem;
    color: #4b3314;
  }


  #Half-Lotus {
    height: 50%;
    left: -5rem;
    bottom: -15%;
  }

  #ListOfServices{
    padding: 0;
    gap: 2rem;
  }

  #ListOfServices h2 {
    font-size: 2.5rem;
    padding: 0 2rem;

}
  #ListOfServices h2 span{
    font-size: 3rem;

}
#servicesSecond{
  padding: 3rem 1.5rem;
}
#servicesSecond h2 {
  line-height: 1.1;
  font-size: 4rem;

}

.services-grid {
 
  gap: 1rem;
  
}
.service {
  height: 12rem;
  width: 12rem;
  font-size: 1.5rem;
}

.service i {
  font-size: 2.5rem;
}
.package-buttons-layout {
  gap: .5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0;
}

#servicesSecond h2 {
width: 100%;
}
#servicesSecond h2 span {
  font-size: 1.6rem;
}

#Additionally{
  font-size: 1.4rem !important;
}

  #DevignsDevelopmentPackage {
    margin-bottom: 6rem;
  }

  #DevignsSpecialPackage,
  #DevignsDesignPackage,
  #DevignsDevelopmentPackage {
    margin-top: 3rem;
  }
  #DevignsSpecialPackage h2,
  #DevignsDesignPackage h2,
  #DevignsDevelopmentPackage h2 {
    font-size: 2.8rem;
    text-align: center;
    line-height: 1.2;
    width: 90%;
  }

  #DevignsSpecialPackage h2 span{
    font-size: 3rem;
  }


  .outer-rounded {
    width: 90%;
    padding-left: 2rem;
    padding: 1.5rem;
  }

  .packageDescription {
    font-size: 1.5rem;
  }

  .aboutPackage {
    font-size: 1.5rem;
  }


  #notSureline {
    font-size: 1.4rem;
    padding: 0 1rem;
    width: 90%;
  }

  #gitText {
    font-size: 1.5rem;
  }


  .testimonial-section {
    padding: 3rem 0;
  }

  .testimonial-section h2 {
    font-size: 3rem;
    width: 90%;
  }

  .testimonial-section>p {
    font-size: 1.6rem;
  }



  .testimonial-card {
    max-width: 250px;
    gap: .5rem;
    justify-content: space-around;
    margin: 1rem;
    padding: 3rem 2rem;
  }

  
.testimonial-card::before {
  font-size: 3rem;

}

.testimonial-card::after {
 
  font-size: 3rem;
  
}




  .testimonial-card p {
    font-size: 1.4rem;
  }



  .testimonial-card .author {
    font-size: 1.5rem;
  }

}